{% extends 'base.html.twig' %}

{% block title %}Éditer l'équipe{% endblock %}

{% block body %}
    <div class="container" >
        <h1>Éditer l'équipe</h1>

            {{ include('bk_equipe/_form.html.twig', {'button_label': 'Modifier'}) }}


        <a href="{{ path('b_k_equipe_index') }}" class="btn btn-primary">Retour à la liste des équipes</a>

        {{ include('bk_equipe/_delete_form.html.twig') }}
    </div>
{% endblock %}
