{% extends 'base.html.twig' %}

{% block title %}Fifa world{% endblock %}

{% block body %}
    <div style="margin-top: 1%">
{{ form(form, {'attr': {'style': 'display: flex; justify-content:center'}}) }}
    </div>
{% endblock %}