{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title%}Nous contacter{% endblock %}
{% block body %}
    <div class="container">

        <div class="bg-white p-5 contact-form">
            <h1>Nous contacter </h1>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_widget(form) }}
                <button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: #343A40; color: white; margin-top: 20px">Envoyer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0a4275;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <div id="fb-root">
                <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
            </div>

            <!-- Your share button code -->
            <div class="fb-share-button"
                 data-href="https://www.sf.m3104.koulibaly.com/equipe"
                 data-layout="button_count" style="margin-bottom: 1%">
            </div>
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-outline-light btn-rounded">
                        <a href="/contact">Contactez-nous</a>
                    </button>
                </p>
            </section>
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="#">sf.m3104.koulibaly.com</a>
        </div>
        <!-- Copyright -->
    </footer>
{% endblock %}